

.hello {
  width: 500px;
  overflow-x: scroll;
  margin-left: col-md-5;
  overflow-y: visible;
  padding: 0;
}

.headcol {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}


.long {
  
  letter-spacing: 1em;
}